Installing Rasa on Windows 10 and working with it on Anaconda

To download Anaconda - https://www.anaconda.com/products/individual

In the Anaconda prompt:
1. Create a new virtual environment : conda create --name venv python==3.7.6
2. Activate the virtual envirnoment : conda activate venv
3. conda install ujson
4. conda install tensorflow
5. pip install rasa

Note: To run tensorflow on windows, you need to install Visual C++ - https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

To initialise Rasa and train your model : rasa init

Versions:
python==3.7.6
ujson==2.0.3
tensorflow==2.1.0
rasa==1.10.0