/* resetting browser stuff */
html {
    scroll-behavior: smooth;
  }
  
  *     {
    box-sizing: border-box;
  }
  html,
  body   {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  
  
  /* styling our overall page */
  body     {
    background: #023037;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Forkme on GitHub */
  .github-fork-ribbon.right-bottom:before{
    color: #1b1b1b;
  }
  /* styling our header */
  #navbar   {
    background: #222;
    color: #FFF;
    padding: 20px 30px;
  }
  /* logo */
  #logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
  } 
  
  /* main navigation */
  nav     {
    position: fixed;
    width: 50%;
    display: inline-block;
    text-align: right;
    position: fixed;
    overflow: hidden;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
    text-decoration: none;
    color: #fff;
  } 
  
  /* styling our footer */
  footer   {
    background: #222;
    color: #777;
    padding: 40px;
    text-align: center;
  }
  footer img   {
    display: block;
    border-radius: 5px;
    width: 80px;
    margin: 0 auto 10px;
  }

.header{
  text-align: center;
  color: #fff;
  font-size: 50px;

}

/* overlay effect */
.column {
  float: left;
  width: 50%;
  padding: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #023037;
}

.text {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* map 1 */
#map1{
  position: relative;
  width: 50%;
  overflow: hidden; 
}
.image1 {
  display: block;
  width: 100%;
  height: auto;
}
#map1:hover .overlay {
  opacity: 0.85;
}

/* map 2 */
#map2{
  position: relative;
  width: 50%;
  overflow: hidden; 
}
.image2 {
  display: block;
  width: 100%;
  height: auto;
}
#map2:hover .overlay {
  opacity: 0.85;
}

/* map 3 */
#map3{
  position: relative;
  width: 50%;
  overflow: hidden; 
  float: right;
  left: -20em;
}
.image3 {
  display: block;
  width: 100%;
  height: auto;
}
#map3:hover .overlay {
  opacity: 0.85;
}

/* href for maps */
.column:hover .overlay {display: initial;}
.column a {
	padding: 5px 10px;
  background: #ecf0f1;
  color: #000;
  border-bottom: 3px solid #bdc3c7;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.column a:focus,
.column a:hover {
  background: #95a5a6;
  color: #fff;
  border-color: #7f8c8d;
}
.column a:active {
	position: relative;
	top: 3px;
  background: #34495e;
  border-color: #2c3e50;
  border: 0;
}