/* resetting browser stuff */
html {
    scroll-behavior: smooth;
  }
  
  *     {
    box-sizing: border-box;
  }
  html,
  body   {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  
  /* styling our overall page */
  body     {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
  }

/* styling our header */
#navbar   {
    background: #222;
    color: #FFF;
    padding: 20px 30px;
  }
  /* logo */
  #logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
  } 
  
  /* main navigation */
  nav     {
    position: fixed;
    width: 50%;
    display: inline-block;
    text-align: right;
    position: fixed;
    overflow: hidden;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
    text-decoration: none;
    color: #fff;
  } 
  
/* styling our main content */
/*stats*/
.stats           {
  min-height: 800px;
  text-align: center;
  background-size: cover;
}


.stats a    {
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}
.stats a:hover{
  background-color: #FFF;
  color: #1b1b1b;
}

.something a{
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}
.something a:hover{
  background-color: #FFF;
  color: #1b1b1b;
}

.container {
  z-index: 1;
  width: 70%;
  margin: 0 auto;
    border-radius: 24px;
    padding: 2%;
    box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.75);
}
.board {
    column-count: 3;
    column-gap: 1rem;
}
.container h2 {
    margin: 0 0 30px;
    text-align: center;
}

.card {
    width: 84%;
    background: #ccc;
    padding: 8%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #fff;
}

.card.r {
    background: #ff0053;
}

.card.d {
    background: #ffa501;
    
    
}
.card.t {
    background: #32b336;
}
.card h5 {
    margin: 0;
    font-size: 1rem;
}
.card span {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
}
.card i {
    font-size: 3rem;
}
@media screen and (max-width: 768px){
  .board {
    column-count: 2;
  }
  .card span {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 500px){
  .board {
    column-count: 1;
  }
}

/*hero content*/
.hero           {
    min-height: 800px;
    text-align: center;
    background-image: url('../img/lander.jpg');
    background-size: cover;
  }
  .hero-content   {
    color: #FFF;
    padding-top: 130px;
  }
  .hero-content h1   {
    font-size: 60px;
    margin: 0;
  }
  
  .hero-content p    {
    font-size: 50px;
  }
  .hero-content a    {
    display: inline-block;
    color: #FFF;
    border: 3px solid #023037;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;
  }
  .hero-content a:hover{
    background-color: #023037;
    color: #1b1b1b;
  }  
/*Info/Redirector*/
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  color: #FFF;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* tracker button 
.tracker-button {
    text-align: center;
  }
  #maptrack {
    border: none;
    color: black;
    background-color: #6b6b6b;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #maptrack:hover {
    background-color: #023037; 
    color: #fff;
  }
  
/* predictor button 
    text-align: center;
  }

  #casetrack {
    border: none;
    color: black;
    background-color: #6b6b6b;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #casetrack:hover {
    background-color: #023037; 
    color: #fff;
  }

/* EVA button 
.eva-button {
    text-align: center;
  }*/
  .button {
    border: none;
    color: black;
    background-color: #6b6b6b;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #136875; 
    color: #fff;
  }

/* styling our footer */
footer   {
    background: #222;
    color: #777;
    padding: 40px;
    text-align: center;
  }
  footer img   {
    display: block;
    border-radius: 5px;
    width: 80px;
    margin: 0 auto 10px;
  }
